.main_div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}
.heading_style{
    text-align: center;
    background-color: palevioletred;
    color: powderblue;
}